<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>
  {{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title
  site.Title }}{{ end }}
</title>
{{ with .Description | default .Site.Params.description }}
<meta name="description" content="{{ . }}" />
<meta property="og:title" content="Anthony Castañeda">
<meta property="og:type" content="blog" />
<meta property="og:image" content="http://anthonycastaneda.com/thumbnail.png">
<meta property="og:url" content="http://anthonycastaneda.com/">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Anthony Castañeda">
<meta name="twitter:site" content="@CastanedaWave">
<meta name="twitter:description" content="A blog for a middle-aged man.">
<meta name="twitter:image" content="https://anthonycastaneda.com/cardimage.jpg">
<meta name="twitter:image:alt" content="CSS of my first name">
<meta property="og:description" content="A blog for a middle-aged man.">
<meta property="og:site_name" content="Anthony Castañeda">
{{ end }}
{{/* Canonical URL */}}
<link rel="canonical" href="https://anthonycastaneda.com" />

{{/* RSS Feed */}} {{ with .OutputFormats.Get "rss" -}} {{ printf
`
<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type
.Permalink site.Title | safeHTML }} {{ end }} {{/* JSON-LD Structured Data for
Articles */}} {{ if .IsPage }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "headline": "{{ .Title }}",
    "url": "{{ .Permalink }}",
    "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
    "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}"
    {{- with .Site.Params.author }},
    "author": {
      "@type": "Person",
      "name": "{{ .name | default . }}"
    }
    {{- end }}
    {{- with $.Description | default $.Site.Params.description }},
    "description": "{{ . }}"
    {{- end }}
  }
</script>
{{ end }} {{ partialCached "head/favicon.html" . }} {{ partialCached
"head/css.html" . }}