{{ define "main" }}
<h1>{{ .Title }}</h1>

{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format ":date_long" }}
<time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

{{ .Content }}
{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ if not .IsHome }}
<div class="terminal-nav">
  <div class="back-nav">
    {{ with .Parent }}
    <a href="{{ .RelPermalink }}" class="back-link">../</a>
    {{ else }}
    <a href="{{ " /" | relURL }}" class="back-link">../</a>
    {{ end }}
  </div>
</div>
{{ end }}
{{ end }}